/nbproject/private/
/debian/ease-core.sh
/tests/build/
/vendor/
composer.lock
/build/
/debian/ease-core/
/debian/nbproject/private/
/docs/
/debian/ease-core-doc/
/debian/ease-core-doc.debhelper.log
/debian/ease-core-doc.substvars
/debian/ease-core.debhelper.log
/debian/ease-core.substvars
/.vagrant/
/debian/tmp/
/clover.log
/debian/debhelper-build-stamp
/debian/files
/debian/php-ease-core.debhelper.log
/debian/php-ease-core/
/.phpunit.result.cache
/debian/php-ease-core-dev/
/debian/.debhelper/
/debian/php-ease-core-dev.substvars
/debian/php-ease-core-dev.debhelper.log
/debian/php-vitexsoftware-ease-core/
/debian/php-vitexsoftware-ease-core-dev/
/debian/php-ease-core.substvars
/debian/php-vitexsoftware-ease-core-dev.debhelper.log
/debian/php-vitexsoftware-ease-core-dev.substvars
/debian/php-vitexsoftware-ease-core.debhelper.log
/debian/php-vitexsoftware-ease-core.substvars
