/nbproject/private/
/debian/ease-core.sh
/tests/build/
/vendor/
composer.lock
/build/
/debian/ease-core/
/debian/nbproject/private/
/docs/
/debian/ease-core-doc/
/debian/ease-core-doc.debhelper.log
/debian/ease-core-doc.substvars
/debian/ease-core.debhelper.log
/debian/ease-core.substvars
/.vagrant/
/debian/tmp/
/clover.log
