#!/usr/bin/make -f

PKG_PATH:=/usr/share/php/EaseCore
BUILD_DIR:=build

%:
	dh $@

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_install:
	dh_install
	./debian/fixversion.sh
	echo "require_once 'Mail.php';"  >> debian/php-ease-core/usr/share/php/Ease/Mailer.php
	echo "require_once 'Mail/mime.php';" >> debian/php-ease-core/usr/share/php/Ease/Mailer.php
	sed -i -e 's/..\/vendor/\/var\/lib\/php-ease-core/g' 	     debian/php-ease-core-dev/usr/share/doc/php-ease-core-dev/SendTestMail.php

