#!/usr/bin/make -f

PKG_PATH:=/usr/share/php/EaseCore
BUILD_DIR:=build

%:
	dh $@

override_dh_prep:
	phpdoc -d src
	mv .phpdoc/build/* docs

	echo disabled apigen generate --destination=docs -- src
	dh_prep

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'`'"' debian/composer.json |sponge debian/composer.json
	dh_install
	./debian/fixversion.sh
	echo "require_once 'Mail.php';"  >> debian/php-vitexsoftware-ease-core/usr/share/php/EaseCore/Mailer.php
	echo "require_once 'Mail/mime.php';" >> debian/php-vitexsoftware-ease-core/usr/share/php/EaseCore/Mailer.php
	sed -i -e 's/..\/vendor/\/var\/lib\/php-vitexsoftware-ease-core/g' 	     debian/php-vitexsoftware-ease-core-dev/usr/share/doc/php-vitexsoftware-ease-core-dev/SendTestMail.php
